.single-header{
    height: 400px;
    background-image: url('https://www.cleo.com/sites/default/files/2018-10/Database.jpg');
    background-size: cover;
    background-position: center center;
}
.single-footer{
    height: 200px;
    background-image: url('https://www.cleo.com/sites/default/files/2018-10/Database.jpg');
    background-size: cover;
    position: relative;
}
.main-menu{
    height: 60px;
    background-color: rgba(0, 0, 0, .7);
}
.main-menu__items{
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: start;
    width: 1200px;
    padding: 0;
}
.main-menu__item{
    padding: 0 15px;
    list-style: none;
}
.main-menu__item-link{
    color: #fff;
}
.main-menu__item-link_current, .main-menu__item-link:hover{
    color: #4d94d0;
}
.single-content{
    background-color: #fff;
    overflow: hidden;
}
.single-content__wrapper{
    width: 1200px;
    margin: 60px auto;
    overflow: hidden;
}
.left-navigation{
    width: 25%;
    float: left;
}
.left-navigation__item{
    height: 80px;
    font-family: Open Sans;
    display: flex;
    align-items: center;
    border: 2px solid #254573;
    margin-bottom: 20px;
}
.left-navigation__item:hover{
    background-color: #254573;
}
.left-navigation__item:hover .left-navigation__item-link{
    color: #fff;
}
.left-navigation__item-link{
    display: flex;
    width: 100%;
    height: 100%;
    padding-left: 40px;
    align-items: center;
}
.right-content{
    float: right;
    width: 70%;
}
.news-block{

}
.news-block__item-title{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}
.news-block__item{
    overflow: hidden;
    margin-bottom: 40px;
}

.news-block__title{
    font-size: 24px;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 40px;
}
.news-block__item-text{

}
.news-block__item-more{
    display: block;
    color: #254573;
}
.news-block__item-pic{
    width: 120px;
    height: 120px;
    float: left;
    margin-right: 20px;
    overflow: hidden;
}
.news-block__item-pic img{
    height: 100%;
}
.single-footer__copyright{
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    padding-top: 54px;
}
.single-footer .main-menu{
    background: none;
    border-bottom: 2px solid #fff;
}
.single-footer .main-menu__items{
    justify-content: center;
}
.list__pagination{
    border-top: 1px solid #e4e4e4;
    padding-top: 20px;
}
.list__pagination-title{

}
.list__pagination-items{
    display: inline-flex;
    list-style: none;
}
.list__pagination-item{
    padding-right: 10px;
}

@media screen and (max-width: 1200px){
    .main-menu__items, .single-content__wrapper{
        width: 100%;
        padding: 0 30px;
    }
}
@media screen and (max-width: 768px){
    .left-navigation__item-link {
        padding-left: 0;
        justify-content: center;
    }
}
@media screen and (max-width: 480px){
    .left-navigation, .right-content{
        width: 100%;
        float: none;
    }
}